.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-top: 2px solid #fff;
}

.player-controls {
    display: flex;
    gap: 10px;
}

.player button {
    background: #000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 10px;
    font-family: monospace;
    
}

.player button:hover {
    background: #fff;
    color: #000;
}

#loop-btn.active {
    color: #ff0000;
    border-color: #ff0000;
}

#shuffle-btn.active {
    color: #ff0000;
    border-color: #ff0000;
}

#shuffle-btn.shuffle-all {
    position: relative;
}

#shuffle-btn.shuffle-all::after {
    content: '2';
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 10px;
    color: #ff0000;
    font-weight: bold;
    font-family: monospace;
}

.switch {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background: #000;
    border: 2px solid #fff;
    transition: 0.2s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    transition: 0.2s;
}

.switch input:checked + .slider {
    background: #000;
    border-color: #ff0000;
}

.switch input:checked + .slider::before {
    background: #ff0000;
    transform: translate(44px, -50%);
}

.switch:hover .slider {
    background: #fff;
}

.switch:hover .slider::before {
    background: #000;
}

.switch input:checked:hover .slider {
    background: #ff0000;
}

.switch input:checked:hover .slider::before {
    background: #000;
}

.player-progress {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 35%;
    color: #fff;
    font-family: monospace;
}

#progress-bar {
    flex: 1;
    height: 8px;
    background: #000;
    border: 2px solid #fff;
    cursor: pointer;
}

.player-volume {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-volume input[type=range] {
    width: 100px;
    accent-color: #ff0000;
}

.now-playing {
    display: flex;
    align-items: center;
    gap: 12px;
}

.current-track-cover {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #fff;
}

.track-info p {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
    color: #aaa;
}

.track-info p:first-child {
    font-weight: bold;
    color: #fff;
}