.playlists-section {
    margin-top: 25px;
}

.playlists-section h3 {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 10px;
}

.playlist-list {
    list-style: none;
    margin-bottom: 15px;
}

.playlist-list a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 6px 8px;
    border: 2px solid transparent;
}

.playlist-list a:hover {
    color: #fff;
    border: 2px solid #fff;
    background: #000;
}

.create-playlist-btn {
    background: #000;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.create-playlist-btn:hover {
    background: #fff;
    color: #000;
}

.playlist-header {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    align-items: flex-start;
}


.playlists-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.playlist-cover {
    width: 180px;
    object-fit: cover;
    border: 2px solid #fff;
}

.playlist-select-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.playlist-select-content {
    background: #111;
    padding: 20px;
    border-radius: 0;
    min-width: 250px;
}

.playlist-select-item {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    cursor: pointer;
    border-radius: 0;
    background: var(--primary);
    border: none;
}

.playlist-select-close {
    margin-top: 10px;
    width: 100%;
    border-radius: 0;
    background: var(--primary);
    border: none;
    cursor: pointer;
}